@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.active{
    color: black !important;
    font-weight: bold !important;
}
.products{
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: blue;
}
.book{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   width: 18rem;
    img{
        height: 260px;
    }
    .card-title{
        color: blue;
    }
    .price{
        color: blue;
    }
}
.total{
    text-align: center;
    b{
        color: blue;
    }
}
.clean{
    background-color: blue;
    padding: 10px 90px !important;
    border-radius: 60px;
    text-align: center;
    color: white;
}
.empty{
    font-family: 'Pacifico', cursive;
    color: blue;
}